@charset "UTF-8";
#header {
  width: 100%;
  display: block;
  position: relative;
  padding: 1.2rem 1.2rem;
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 -0.1rem #d9d9d9, 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.08);
          box-shadow: inset 0 -0.1rem #d9d9d9, 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#header.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 4.3rem;
  z-index: 1000;
}

.header-main {
  max-width: 162rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-flex-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.page-title {
  margin: 0 0 0.8rem;
  font-size: 2.2rem;
  font-weight: 400;
  color: #32363a;
}

.filter-bar {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter-bar-container:not(:last-child) {
  margin: 0 0 1rem;
}

.filter-bar-label {
  margin: 0 0 0.2rem;
  font-size: 1.4rem;
  color: #6a6d70;
}

.is-focused:not(.is-open) > .Select-control {
  border-color: #0854a0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.is-open > .Select-control {
  border-radius: 0.2rem;
  border-color: #0854a0;
}

.is-open > .Select-control .Select-arrow {
  top: 0;
  border-color: #0854a0;
  border-width: 0 0.175rem 0.175rem 0;
}

.Select-control {
  border-radius: 0.2rem;
  border: 1px solid #89919a;
  color: #32363a;
  cursor: text;
}

.Select-control:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #0854a0;
}

.Select--single > .Select-control .Select-value,
.Select-placeholder {
  color: #32363a;
  line-height: 3.6rem;
  font-size: 1.4rem;
}

.Select-arrow {
  border: solid #0854a0;
  border-width: 0 0.175rem 0.175rem 0;
  display: inline-block;
  padding: 0.3rem;
  margin: 0 0 0.3rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.Select-arrow-zone {
  padding-right: 0.8rem;
}

.Select-clear {
  line-height: 1.5;
}

.Select-clear-zone {
  padding-right: 0.8rem;
  color: #0854a0;
}

.Select-menu-outer {
  margin: 0;
  border: none;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
  overflow-y: hidden;
  /* width */
}

.Select-menu-outer ::-webkit-scrollbar {
  width: 0.6rem;
}

.VirtualizedSelectOption {
  color: #32363a;
  padding: 0.5rem 5rem 0.5rem 1rem;
  border: none;
  border-radius: 0.4rem;
}

.VirtualizedSelectFocusedOption {
  text-decoration: none;
  background-color: #fafafa;
  color: #2f3c48 #2f3c48;
}

.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #32363a;
}

.numeric-point-chart {
  width: 100%;
  overflow: hidden;
}

/* medium size screen
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 768px) {
  .filter-bar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .filter-bar-container:not(:last-child) {
    margin: 0 1.6rem 0 0;
  }
}

/* large size screen
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 1024px) {
  #header {
    padding: 1.2rem 2.4rem;
  }
  .header-main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .numeric-point-chart {
    max-width: 34rem;
  }
}
