@charset "UTF-8";
.header {
  display: block;
  position: relative;
  padding: 4rem 1.2rem 0.5rem;
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 -0.1rem #d9d9d9, 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.08);
          box-shadow: inset 0 -0.1rem #d9d9d9, 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.08);
}

.header-main {
  max-width: 162rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.page-title {
  margin: 0 0 2rem;
  font-size: 2.4rem;
  font-weight: 400;
  color: #32363a;
}

.filter-bar {
  margin: 0 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter-bar-container:not(:last-child) {
  margin: 0 0 3rem;
}

.filter-bar-label {
  margin: 0 0 0.4rem;
  font-size: 1.4rem;
  color: #89919a;
}

.Select-clear-zone {
  color: #0854a0;
}

.is-focused:not(.is-open) > .Select-control {
  border-color: #0854a0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.is-open > .Select-control {
  border-radius: 0.2rem;
  border-color: #0854a0;
}

.is-open > .Select-control .Select-arrow {
  top: 0;
  border-color: #0854a0;
  border-width: 0 0.15rem 0.15rem 0;
}

.Select-control {
  border-radius: 0.2rem;
  border: 1px solid #89919a;
  color: #32363a;
  cursor: text;
}

.Select-control:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #0854a0;
}

.Select--single > .Select-control .Select-value,
.Select-placeholder {
  color: #89919a;
}

.Select-arrow-zone {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}

.Select-arrow {
  border: solid #0854a0;
  border-width: 0 0.15rem 0.15rem 0;
  display: inline-block;
  padding: 0.3rem;
  margin: 0 0 0.4rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.Select-menu-outer {
  margin: 0;
  border: none;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
  overflow-y: hidden;
  /* width */
}

.Select-menu-outer ::-webkit-scrollbar {
  width: 0.6rem;
}

.VirtualizedSelectOption {
  color: #32363a;
  padding: 0.5rem 5rem 0.5rem 1rem;
  border: none;
  border-radius: 0.4rem;
}

.VirtualizedSelectFocusedOption {
  text-decoration: none;
  background-color: #fafafa;
  color: #2f3c48 #2f3c48;
}

.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #32363a;
}

.numeric-point-chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.numeric-point-chart div {
  margin: 0 auto;
}

.npc-title {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
  color: #32363a;
}

/* medium size screen
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 768px) {
  .filter-bar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .filter-bar-container:not(:last-child) {
    margin: 0 2rem 0 0;
  }
}

/* large size screen
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 1024px) {
  .header {
    padding: 4rem 3.2rem 0.5rem;
  }
}
