@import 'theme';

.header {
  display: block;
  position: relative;
  padding: 4rem 1.2rem;

  background-color: $sap-base-color;
  box-shadow: inset 0 -0.1rem rgb(217, 217, 217), 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.08);
}

.header-main {
  max-width: 180rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.page-title {
  margin: 0 0 2rem;
  font-size: 2.4rem;
  font-weight: 400;
  color: $sap-text-color;
}

.filter-bar {
  margin: 0 0 4rem;
  display: flex;
  flex-direction: column;
}

.filter-bar-container:not(:last-child) {
  margin: 0 0 3rem;
}

.filter-bar-label {
  margin: 0 0 0.4rem;
  font-size: 1.4rem;
  color: $sap-label-border-color;
}

.Select-clear-zone {
  color: $sap-selected-color;
}

.is-focused:not(.is-open) > .Select-control {
  border-color: $sap-selected-color;
  box-shadow: none;
}

.is-open > .Select-control {
  border-radius: 0.2rem;
  border-color: $sap-selected-color;
}

.is-open > .Select-control .Select-arrow {
  top: 0;
  border-color: $sap-selected-color;
  border-width: 0 0.15rem 0.15rem 0;
}

.Select-control {
  border-radius: 0.2rem;
  border: 1px solid $sap-label-border-color;
  color: $sap-text-color;
  cursor: text;
}

.Select-control:hover {
  box-shadow: none;
  border-color: $sap-selected-color;
}

.Select--single > .Select-control .Select-value,
.Select-placeholder {
  color: $sap-label-border-color;
}

.Select-arrow-zone {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}

.Select-arrow {
  border: solid $sap-selected-color;
  border-width: 0 0.15rem 0.15rem 0;
  display: inline-block;
  padding: 0.3rem;
  margin: 0 0 0.4rem;
  transform: rotate(45deg);
}

.Select-menu-outer {
  margin: 0;
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
  overflow-y: hidden;

  /* width */
  ::-webkit-scrollbar {
    width: 0.6rem;
  }
}

.VirtualizedSelectOption {
  color: $sap-text-color;
  padding: 0.5rem 5rem 0.5rem 1rem;
  border: none;
  border-radius: 0.4rem;
}

.VirtualizedSelectFocusedOption {
  text-decoration: none;
  background-color: $sap-focus-background-color;
  color: $sap-focus-text-color #2f3c48;
}

.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: $sap-text-color;
}

.numeric-point-chart {
  display: flex;
  flex-direction: column;
  position: relative;
}

.npc-supplier-performance {
  margin: 0 0 3rem;
}

.npc-container-current-year {
  margin: 0 0 3rem;
}

.npc-title {
  margin: 0 0 2rem;
  font-size: 2rem;
  font-weight: 400;
  color: $sap-text-color;
}

.npc-chart-current-year {
  margin: 0 0 3rem;
}

/* medium size screen
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 768px) {
  .filter-bar {
    flex-direction: row;
  }

  .filter-bar-container:not(:last-child) {
    margin: 0 2rem 0 0;
  }

  .npc-chart-container {
    display: flex;
  }

  .npc-supplier-performance {
    margin: 0 15rem 0 0;
  }

  .npc-chart-current-year {
    flex: 1 1 50%;
    margin: 0 2rem 0 0;
  }

  .npc-chart-prior-year {
    flex: 1 1 50%;
  }
}

/* large size screen
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 1024px) {
  .header {
    padding: 4rem 3.2rem;
  }

  .numeric-point-chart {
    flex-direction: row;
  }

  .npc-container-current-year {
    flex: 1 1 50%;
    margin: 0 2rem 0 0;
  }

  .npc-container-prior-year {
    flex: 1 1 50%;
  }

  .npc-supplier-performance {
    margin: 0 30rem 0 0;
  }
}
