@charset "UTF-8";
.navbar {
  width: 100%;
  height: auto;
  padding: 0 1.2rem;
  display: block;
  position: relative;
  background-color: #ffffff;
  border-top: solid 0.1rem transparent;
  border-bottom: solid 0.1rem #d9d9d9;
  transition: padding 0.2s;
}

.navbar-container {
  max-width: 162rem;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav {
  align-items: center;
  font-size: 1.4rem;
}

.nav-tabs {
  border-bottom: none;
}

.nav-item {
  margin: 0 3.2rem 0 0;
}

.nav-link {
  padding: 0.8rem 0;
  border: 0 solid transparent !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0.3rem solid transparent !important;
  border-bottom: 0.3rem solid transparent !important;
}

.nav-link.active {
  color: #0854a0 !important;
  background-color: transparent;
  border-bottom-color: #0854a0 !important;
}

/* large size screen
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 1024px) {
  .navbar {
    padding: 0 2.4rem;
  }
}