@import 'theme';

.page {
  display: block;
  position: relative;
  padding: 0 1.2rem 2rem;
}

.page-main {
  max-width: 184rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.chart-container {
  width: 100%;
  margin: 2rem 0 0;
  padding: 0.5rem;
  border-radius: 0.4rem;

  display: flex;
  flex-direction: column;

  color: $sap-text-color;
  background-color: $sap-base-color;
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.1);
}

.chart-title {
  margin: 2rem 2rem 0;
  font-size: 2rem;
  font-weight: 400;
  color: $sap-text-color;
}

.chart-one {
  margin: 0 0 2rem;
}

/* large size screen
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 1024px) {
  .page {
    padding: 0 3.2rem 2rem;
  }
}
