@charset "UTF-8";
/*large bottom padding to be able to see the last chart from center of the window*/
.page {
  display: block;
  position: relative;
  padding: 0 1.2rem 20rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.page-main {
  max-width: 180rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.chart-container {
  width: 100%;
  margin: 2.4rem 0 0;
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #32363a;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.1);
}

/* large size screen
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 1024px) {
  .page {
    padding: 0 2.4rem 20rem;
  }
}

/* medium screen height
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-height: 1000px) {
  .page {
    padding: 0 2.4rem 30rem;
  }
}

/* large screen height
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-height: 1100px) {
  .page {
    padding: 0 2.4rem 40rem;
  }
}

/* ultra large screen height
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-height: 1300px) {
  .page {
    padding: 0 2.4rem 60rem;
  }
}
