@import 'theme';

.page {
  display: block;
  position: relative;
  padding: 0 1.2rem 2.4rem;
}

.page-main {
  max-width: 180rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.chart-container {
  width: 100%;
  margin: 2.4rem 0 0;
  border-radius: 0.4rem;

  display: flex;
  flex-direction: column;

  color: $sap-text-color;
  background-color: $sap-base-color;
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.1);
}

.chart-subtitle {
  font-size: 14;
  color: $sap-label-border-color;
}

/* large size screen
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 1024px) {
  .page {
    padding: 0 2.4rem 2.4rem;
  }
}
