$sap-base-color: #ffffff;
$sap-text-color: #32363a;
$sap-line-color: #d9d9d9;
$sap-label-color: #89919a;
$sap-hover-color: #283848;
$sap-header-color: #354a5f;
$sap-user-icon-color: #29313a;
$sap-user-icon-background-color: #286eb4;

/* navigation section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar {
  width: 100%;
  height: 4.4rem;
  padding: 0 1.2rem;

  display: block;
  position: relative;
  background-color: $sap-header-color;

  .main-content {
    max-width: 144rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .container {
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo {
    width: 6rem;
    height: 3rem;
  }

  .nav-container {
    margin: 0 0 0 1rem;
    padding: 0.9rem 1rem;
    border-radius: 0.4rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    color: $sap-base-color;

    cursor: pointer;
    transition: all 0.2s;
  }

  .arrow-down {
    margin: 0 0 0 0.2rem;
  }

  .nav-container:hover {
    background-color: $sap-hover-color;
  }

  .user-icon {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: $sap-user-icon-color;
    background-color: $sap-user-icon-background-color;
  }
}

/* header section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header {
  display: block;
  position: relative;
  padding: 4rem 1.2rem;

  background-color: $sap-base-color;
  box-shadow: inset 0 -0.1rem rgb(217, 217, 217), 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.08);

  .main-content {
    max-width: 144rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .page-title {
    margin: 0 0 2rem;
    font-size: 2.4rem;
    font-weight: 400;
    color: $sap-text-color;
  }

  .filter-bar {
    margin: 0 0 4rem;
    display: flex;
    flex-direction: column;
  }

  .filter-bar-container:not(:last-child) {
    margin: 0 0 3rem;
  }

  .filter-bar-label {
    margin: 0 0 0.4rem;
    font-size: 1.4rem;
    color: $sap-label-color;
  }
}

/* numeric point chart section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.numeric-point-chart {
  display: block;
  position: relative;

  .npc-container-one {
    margin: 0 0 3rem;
  }

  .npc-title {
    margin: 0 0 2rem;
    font-size: 2rem;
    font-weight: 400;
    color: $sap-text-color;
  }

  .npc-chart-one {
    margin: 0 0 3rem;
  }
}

/* page section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page {
  display: block;
  position: relative;
  padding: 0 1.2rem 2rem;

  .main-content {
    max-width: 144rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .chart-container {
    width: 100%;
    margin: 2rem 0 0;
    padding: 2rem;
    border-radius: 0.4rem;

    display: flex;
    flex-direction: column;

    color: $sap-text-color;
    background-color: $sap-base-color;
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.1);
  }

  .chart-title {
    margin: 0 0 2rem;
    font-size: 2rem;
    font-weight: 400;
    color: $sap-text-color;
  }

  .chart-one {
    margin: 0 0 2rem;
  }
}

/* medium size screen
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 60rem) {
  .npc-container-one .npc-container-two {
    display: flex;
  }

  .npc-chart-one {
    flex: 1 1 50%;
  }

  .npc-chart-two {
    flex: 1 1 50%;
  }
}

/* large size screen
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 102.4rem) {
  .filter-bar {
    flex-direction: row !important;
  }

  .filter-bar-container:not(:last-child) {
    margin: 0 2rem 0 0 !important;
  }

  .numeric-point-chart {
    display: flex;
  }

  .npc-container-one {
    flex: 1 1 50%;
    margin: 0 2rem 0 0 !important;
  }

  .npc-container-two {
    flex: 1 1 50%;
  }

  .chart-container {
    flex-direction: row !important;
  }

  .chart-one {
    flex: 1 1 50%;
    margin: 0 2rem 0 0 !important;
  }

  .chart-two {
    flex: 1 1 50%;
  }
}
