// colors
$sap-base-color: #ffffff;
$sap-hover-color: #283848;
$sap-header-color: #354a5f;
$sap-user-icon-color: #29313a;
$sap-user-icon-background-color: #286eb4;

// spacing
$side-padding-sm: 0 1.2rem;

.navbar {
  width: 100%;
  height: 4.4rem;
  padding: $side-padding-sm;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $sap-header-color;

  .container {
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo {
    width: 6rem;
    height: 3rem;
  }

  .nav-container {
    margin: 0 0 0 1rem;
    padding: 0.9rem 1rem;
    border-radius: 0.4rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    color: $sap-base-color;

    cursor: pointer;
    transition: all 0.2s;

    .arrow-down {
      margin: 0 0 0 0.2rem;
    }
  }

  .nav-container:hover {
    background-color: $sap-hover-color;
  }

  .user-icon {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: $sap-user-icon-color;
    background-color: $sap-user-icon-background-color;

    .icon-text {
      margin: 0;
    }
  }
}
