$sap-tab-color: #6a6d70;
$sap-base-color: #ffffff;
$sap-text-color: #32363a;
$sap-line-color: #d9d9d9;
$sap-label-color: #89919a;
$sap-hover-color: #283848;
$sap-header-color: #354a5f;
$sap-arrow-down-color: #d1e8ff;
$sap-user-icon-color: #29313a;
$sap-user-icon-background-color: #286eb4;
$sap-app-background-color: #f7f7f7;
$sap-selected-color: #0854a0;
